.tagl{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold ;
    background-color:aliceblue;
}
.head1{
    color: tomato;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: sans-serif;
    background-color: white;
}
body{
    background-color:cornflowerblue;
}
.meal{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 400px;
    max-width: 530px;
    border: 5px solid black;
    padding-left: 20px;
    padding-bottom: 20px;
}
img{
    border: solid black 2px;
    height: 200px;
    width: 500px;
}
