.heading{
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
}
.welcome{
    color: tomato;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: sans-serif;
}
.tag-line{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold ;
}
.nav-bar{
    background-color: black;
    padding: 20px;
}
ul{
    display: inline;
    list-style-type: none;
    overflow: auto;
}
li{
    float:left;
    padding-left: 10px;
    padding-right: 10px;
}
li a{
    text-transform: uppercase;
    color: white;
}
li a:hover{
    background-color: blue;
    padding: 1px;
}
body{
    background-color: aquamarine;
    margin: 0;
    padding: 0;
}
.all-meals{
    padding-left: 400px;
}
.meal{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    max-width: 530px;
    padding-bottom: 18px;
    background-color: white;
}
.meal-tag{
    font-size: large;
    font-style: italic;
    color: black;
}
.meal-head{
    text-transform: uppercase;
    color: black;
}
img{
    border: solid white 2px;
    height: 200px;
    width: 500px;
}
div{
    align-items: center;
}
.link-button{
    border: solid 1px white;
    background-color:white;
    color: black;
}
.about-author{
    
}