* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(165, 165, 165);
}

.canvas-container {
    width: 100%;
}

.options-container {
    width: 100%;
    display: inline-flex;
}

.options {
    display: block;
    justify-content: space-between;
    width: 100%;
}

.label {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.colors {
    margin-left: 0.5rem;
}

.line-width {
    margin-left: 0.5rem;
    width: 50%;
}

.eraser::after {
    content: "";
    height: 20px;
    width: 30px;
    margin-left: 5px;
    border: 0.1rem solid black;
    background-color: white;
    display: inline-block;
}

.reset-btn {
    background-color: white; 
    color: black;
    border: 0.1rem solid black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    /* box-shadow: 0rem 0.1rem 1rem rgb(0, 0, 0); */
    margin: 0.5rem;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    font-size: 18px;
    transition-duration: 0.2s;
}
.reset-btn:hover {
    color: white;
    background-color: black;
}
