*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.main{
    height: 100%;
    background-image: linear-gradient(rgb(207, 238, 238),rgb(40, 123, 148));
    background-repeat: no-repeat;
    background-position: 0,100%;
}
.nav-bar{  /* I just wanted to write a comment in CSS*/
    padding: 50px 0px 10px 0px;
}
.left{ /*about.me*/
    float: left;
    padding-left: 40px;
}
.right{ /* nav-bar options*/
    float: left;
    position: absolute;
    left: 740px;
}
.one,.two,.three,.four,.five{
    display: inline-block;
    padding-left: 15px;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
}
.about-tag{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: x-large;
    padding: 9px 0px 0px 0px;
    text-transform: lowercase;
    letter-spacing: 0.5px;
}
.about-tag:hover{
    color: rgb(46, 136, 136);
    border-bottom: 2px solid rgb(46, 136, 136);
}
.anchor-tag{
    padding: 8px;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}
.anchor-tag:hover{
    color: white;
    background-color: rgb(37, 149, 184);
    padding: 8px;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgb(82, 163, 152);
}
.get-tag{
    border-radius: 8px;
    color: white;
    background-color:rgb(26, 161, 161);
    padding: 8px;
    text-decoration: none;
    margin-left: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 2px 4px 8px rgb(50, 141, 129);
}   
.get-tag:hover{
    background-color: rgb(30, 112, 133);
    color: white;
}
.main-text{
    padding: 150px;
    padding-left: 70px;
    padding-bottom: 118px;
    display: inline-flex;
    width:100%;
}
.main-sub{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xxx-large;
}
.only-text{
    display: inline-block;
}
.sub-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bold;
}
.abutton{
    color: black;
    font-family:monospace;
    font-size: xx-large;
    font-weight: bold;
    padding: 20px 50px 20px 50px;
    background-image: linear-gradient(#ff9900,#fad60e);
    border-radius: 10px;
}
.abutton:hover{
    background-image: linear-gradient(#d12020,#e6ad11);
    color:white;
    border-radius: 10px;
    box-shadow: 3px 4px 10px  rgb(245, 190, 109);
}
.side-images{
    display:inline-flex;
    align-items: flex-end;
    position: absolute;
    left: 560px;
}
.image{
    box-shadow: 0px -1px 7px 0px grey;
}
.image1{
    /* inherits from .image */
    height: 260px;
    width:  225px;
    
}
.image2{
    /* inherits from .image */
    height: 325px;
    width: 270px;
}
.image3{    
    /* inherits from .image */
    height: 400px;
    width: 294px;
}
.sib{
    z-index: 1;
    border-radius: 5px;
    padding: 6px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: rgba(242, 243, 244,0.6);
    font-size: small;
    font-weight: bolder;
    position: absolute;
    top:580px;
}
.sib1{
    left:585px;    
}
.sib2{
    left:875px;    
}
.sib3{
    left:1130px;
}
.features{
    max-width: 100%; ;
    padding: 20px 100px 0px 100px;
    height: 770px;
    background-color: white;
}
.feature-img{
    display:inline-flex;
    align-items: stretch;
    height: 400px;
    padding: 0px 50px 0px 50px;
    position: absolute;
    left: 0px;
}
.feat{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin: 12px;
    width: 33%;
}
.fimage{
    padding: 40px;
    padding-left: 60px;
    height: 80%;
    width: 100%;
}
.ft{
    text-align: center;
}
.ft-head{
    padding: 5px;
}
.ft-p{
    font-size:small;
}
.after-feat{
    position: absolute;
    top: 1100px;
    left: 500px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}
.afeat-t{
    text-decoration: none;
}
.afeat-t:hover{
    color: black;
    border-bottom: black 2px solid;
}
.edi{
    box-shadow: 0px -1px 7px 0px grey;
    border-radius: 25px;
    overflow-x: hidden;
}
.ed-left{
    display: block;
    position: absolute;
    top: 1330px;
    left: 190px;
    z-index: 2;
    height: 460px;
    width: 260px;
    background-color: rgb(247, 247, 247);
}
.ed-right{
    display: inline-flex;
    position: relative;
    bottom: 130px;
    left: 400px;
    height: 522px;
    width: 750px;
    background-color: rgb(247, 247, 247);
}
.edl-image{
    width: 260px;
    height: 180px;
}
.edl-name{
    position: relative;
    bottom: 50px;
    left: 75px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
.edl-nsub{
    position: relative;
    bottom: 50px;
    left: 25px;
    padding: 2px 0px 0px 0px;
    color: white;
    font-family: sans-serif;
    font-size: small;
}
.edl-but{
    text-align: center;
    position: inherit;
    top: 190px;
    left: 21px;
    padding-top: 13px;
    height: 40px;
    width: 220px;
    color: white;
    background-color: #4274a7;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: small
}
.edl-about{
    padding: 12px 12px 0px 12px;
    text-align: justify ;
    font-family: monospace;
    line-height: 18px;
    position: relative;
    top: 20px;
}
.edl-icons{
    margin: 25px 0px 0px 9px;
}
.edr-box{
    display: block;
}
.edr-name{
    position: relative;
    color: black;
    padding: 100px 0px 0px 20px;
    font-family: sans-serif;
    text-transform: uppercase;
}
.edr-nsub{
    position: relative;
    left: 20px;
    padding: 5px 0px 0px 0px;
    color: black;
    font-family: sans-serif;
    font-size: small;
}
.edr-but{
    text-align: center;
    margin: 10px 0px 0px 22px;
    padding-top: 12px;
    height: 40px;
    width: 250px;
    color: white;
    background-color: #4274a7;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: small
}
.edr-about{
    padding: 12px 20px 12px 20px;
    text-align: justify ;
    font-family: monospace;
    line-height: 22px;
    position: relative;
    top: 20px;
}
.edr-icons{
    margin: 30px 0px 0px 18px;
}
.entrep{
    color: rgb(196, 229, 248);
    text-align: center;
    text-shadow: 3px 4px 3px rgba(173, 255, 255, 0.3);
    font-family: "lato",arial;
    font-weight: bold;  
    font-size: larger;
}
.entrep-b{
    padding: 20px 100px 20px 100px;
    margin: 50px 0px 40px 0px;
    border-radius: 8px;
    background: -webkit-linear-gradient(#9accc1, #55748d);
    color: white;
    font-family: "lato",arial;
    font-size: medium;
}
.entrep-b:hover{
    box-shadow: 5px 4px 8px 0px rgb(91, 157, 211);
}
.bot-nav{
    display: inline-flex;
    height: 250px;
    width: 100%;
    background-color: rgb(243, 243, 243);
    justify-content: space-around;
    align-items: center;
}
.b1,.b2{
    list-style-type: none;
    padding: 10px 0px 10px 0px;
}
.at{
    text-decoration: none;
    font-family: "lato",arial;
    font-size: small;
}
.twit-logo,.insta-logo{
    margin: 0px 0px 0px 25px;
    height:20px;
    width:22px;
}
.bn-4{
    height: 180px;
    margin: 50px 0px 0px 0px;
}
.foot{
    display: inline-flex;
    padding: 10px;
    font-family: "lato",arial;
    font-size: larger;
}
