*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('./images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* navigation bar */

.navbar {
    height: 3.8rem;
    background: rgba(25, 103, 112, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-nav {
    align-items: center;
    margin-left: 1rem;
    font-size: 1.6rem;
    padding: 1rem;
}

.logo-text{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.login-nav {
    align-items: center;
    margin-right: 2rem;
    font-size: 1rem;
    transition-duration: 0.2s;
}

.login-link {
    color: white;
    text-decoration: none;
    font-family: Arial, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 1.2rem;
}

.login-link:hover {
    padding: 1.1rem;
    background-color: rgb(24, 54, 70);
    border: 0.1rem solid white;
    color: white;
}

/* container */
.container {
    display: flex;
    margin: 3rem;
    justify-content: center;
}

.form-container {
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0rem 0.2rem 1rem rgb(97, 97, 97);
    border: 0.2rem solid rgb(37, 128, 139);
    width: 50%;
}

.head {
    display: flex;
    justify-content: center;
    border-bottom: 0.1rem solid white;
    padding: 2rem;
    margin: 2rem 2rem;
}

.signup-head {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
}

/* input form */
.form-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 0;
}

.input {
    font-size: 1.3rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    width: 100%;
    margin: 1rem 0rem;
    padding: 0.8rem;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.input::placeholder {
    color: rgb(156, 156, 156);
}

.input:focus::-webkit-input-placeholder {
    opacity: 0;
}
.input:focus::-moz-placeholder {
    opacity: 0;
}

.input.invalid{
    border-color: red !important;
    margin-bottom: 0.1rem;
}

.input.valid{
    border-color: limegreen !important;
    margin-bottom: 0.1rem;  
}

.button-container {
    display: flex;
    justify-content: center;
}

/* login button */
.signup-but {
    color: black;
    background-color: white; 
    border: 0.1rem solid rgb(37, 128, 139);
    box-shadow: 0rem 0.2rem 1rem rgb(0, 0, 0);
    border-radius: 0.3rem;
    display: inline-block;
    padding: 1.2rem 4rem;
    margin: 2rem 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.2s;
}

.signup-but:hover {
    color: white;
    background-color: grey;
}

.form-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.ff-text{
    color: white;
}

.ff-link {
    color: grey;
}

.ff-link:hover {
    color: rgb(211, 211, 211);
}

/* Media Queries */
@media screen and (max-width: 920px){
    * {
        font-size: 1rem;
    }
    .logo-nav,.signup-nav{
        font-size: 0.2  rem;
    }
    .form-container {
        width: 100%;
    }
    .signup-head {
        font-size: 1rem;
    }
    .input {
        width: 100%;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        font-size: 0.8rem;
    }
    .input-container {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .email {
        width: 100%;
    }
    .login-but {
        font-size: 1rem;
    }
}
@media screen and (max-width: 400px){
    * {
        font-size: 0.5rem;
    }
}