*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
    width: 100%;
    background-image: url(/images/bg6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* navigation bar */

.navbar {
    display: flex;
    height: 3.8rem;
    background: rgba(39, 39, 39, 0.7);
    align-items: center;
    justify-content: space-between;
}

.logo {
    align-items: center;
    margin-left: 2rem;
    font-size: 1.6rem;
    padding: 1rem;
}

.logo-text{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
    padding: 0 0.5rem;
}

.signup {
    align-items: center;
    margin-right: 2rem;
    font-size: 1rem;
    transition-duration: 0.2s;
}

.signup-link {
    color: white;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 1.2rem;
}

.signup-link:hover {
    background-color: rgb(24, 54, 70);
    border: 0.1rem solid white;
    padding: 1.1rem;
}

/* container */
.container {
    display: flex;
    margin: 3rem;
    justify-content: center;
}

.form-container {
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0rem 1rem 1rem rgb(rgb(97, 97, 97));
    border: 0.2rem solid black;
    width: 40%;
}

.head {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-top: 3rem;
}

.login {
    color: white;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

input {
    font-size: 1.4rem;
    border: none;
    border-radius: 0.2rem;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

input:focus::-moz-placeholder {
    opacity: 0;
}

.button-container {
    display: flex;
    justify-content: center;
}

.login-but {
    color: white;
    opacity: 0.8;
    background-color: black;
    border: 0.1rem solid black;
    box-shadow: 0rem 0.2rem 1rem rgb(0, 0, 0);
    border-radius: 0.3rem;
    display: inline-block;
    padding: 1rem 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.2s;
}

.login-but:hover {
    background-color: white; 
    color: black;
}

.form-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.ff-text{
    color: rgb(194, 194, 194);
}

.ff-link {
    color: rgb(219, 219, 219);
}
