*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-image: url(/images/bg8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* navigation bar */

.navbar {
    display: flex;
    height: 3.8rem;
    background: rgba(39, 39, 39, 0.7);
    align-items: center;
    justify-content: space-between;
}

.logo-nav {
    align-items: center;
    margin-left: 2rem;
    font-size: 1.6rem;
    padding: 1rem;
}

.logo-text{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
    padding: 0 0.5rem;
}

.signup-nav {
    align-items: center;
    margin-right: 2rem;
    font-size: 1rem;
    transition-duration: 0.2s;
}

.signup-link {
    color: white;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 1.2rem;
}

.signup-link:hover {
    background-color: rgb(24, 54, 70);
    border: 0.1rem solid white;
    padding: 1.1rem;
}

/* container */
.container {
    display: flex;
    margin: 3rem;
    justify-content: center;
}

.form-container {
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0rem 1rem 1rem rgb(rgb(97, 97, 97));
    border: 0.2rem solid black;
    width: 60%;
}

.head {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: 2rem 2rem 3rem 2rem;
    border-bottom: 0.1rem solid white;
}

.signup-head {
    color: white;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
}

/* input form */
.form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.input-container {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
}

.input {
    font-size: 1.4rem;
    border: none;
    border-radius: 0.2rem;
    width: 50%;
    margin: 1rem 2rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.input::placeholder {
    color: rgb(156, 156, 156);
}

.input:focus::-webkit-input-placeholder {
    opacity: 0;
}
.input:focus::-moz-placeholder {
    opacity: 0;
}

.input.invalid{
    border: 0.15rem solid red !important;
}

.input.valid{
    border: 0.15rem solid limegreen !important;
}

.fname-input {
    margin-right: 0;
}

/* radio input */
.radio-options {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

.gender-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 91.5%;
    margin: 1rem 2rem;
    padding: 0;
    border-radius: 0.2rem;
    background-color: rgba(255, 255, 255, 0.8);;
}   

.gender-heading {
    display: flex;
    align-items: center;
}

.gender-head {
    font-size: 1.5rem;
}

.radio {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem;
}

.gender-input {
    margin-right: 0.5rem;
}

.age-input {
    width: 20%;
    margin-right: 0;
}

.email-input {
    width: 75%;
}

.cc-input {
    width: 20%;
    margin-right: 0;
}

.phone-input {
    width: 75%;
}

.username-input {
    width: 100%;
}

.passone-input {
    margin-right: 0;
}

.button-container {
    display: flex;
    justify-content: center;
}

/* login button */
.login-but {
    color: white;
    opacity: 0.8;
    background-color: rgb(47, 128, 209); 
    border: 0.1rem solid black;
    box-shadow: 0rem 0.2rem 1rem rgb(0, 0, 0);
    border-radius: 0.3rem;
    display: inline-block;
    padding: 1.5rem 5rem;
    margin: 2rem 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.2s;
}

.login-but:hover {
    color: white;
    background-color: rgb(29, 79, 129);
}

.form-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.ff-text{
    color: rgb(175, 175, 175);
}

.ff-link {
    color: rgb(231, 231, 231);
}
