*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:lucida sans;
}
.nav-bar{
    border-bottom: 0.5px solid rgb(204, 204, 204);
    height: 64px;
}
.p-nav{
    display: inline-block;
    padding: 20px 10px 20px 10px;
    font-size: 20px;
    font-weight: bold;
}
.p-nav:hover{
    border-bottom: 2px solid black;
}
.ul-left{
    float: left;
}
.ul-right{
    float: right;
}
.anchort{
    text-decoration: none;
}
.pn-1{
    padding: 20px 20px 18px 20px;
}
.pn-2{
    font-size: 18px;
}
.pn-3,.pn-4,.pn-5{
    font-weight: 100;
    font-size: 15px;
    padding: 20px 20px 21px 20px;
}
.form1{
    margin: 15px 0px 0px 0px;
}
.head{
    display: flex;
    clear: both;
    justify-content: center;
    font-family:monospace;
    font-size: 50px;
}