*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: inline-flex;
    width: 100%;
}
.map{
    display: block;
    margin: 30px 30px 30px 30px;  
    width: 60%;
    height: 600px;
    background-color: rgb(224, 236, 247);
}
.gmaps{
    border: 0.5px solid black;
    height: 100%;
    width: 100%;
}
.map-addr{
    justify-content: center;
}
.ma-head{
    font-family: monospace;
    font-size: 30px;
    padding: 30px 10px 0px 0px;
}
.addr{
    font-family: monospace;
    font-size: 18px;
    text-align: justify;
    padding-top: 30px;
    letter-spacing: 0.2px;
}